{"openapi":"3.1.0","info":{"title":"RawEval API","description":"\n    # RawEval API Documentation\n    \n    Welcome to the **RawEval API** - A comprehensive LLM evaluation and expert vetting platform powered by AI Labs.\n    \n    ## 🌟 Features\n    \n    - **Multi-Model LLM Search**: Query across multiple AI models (GPT, Claude, Llama, Gemini, Grok) simultaneously\n    - **3-3-3 Workbench System**: Expert-driven quality assurance with tiered evaluation\n    - **Expert Vetting**: Sophisticated expert tier assignment and domain certification\n    - **B2B Data Delivery**: Enterprise-grade data export and analytics\n    - **Real-time Processing**: Streaming responses and live updates\n    \n    ## 📚 API Organization\n    \n    The API is organized into the following sections:\n    \n    ### 1. Authentication & Authorization\n    User registration, login, and JWT token management for secure API access.\n    \n    ### 2. User Management\n    Profile management, metadata tracking, and user-specific operations.\n    \n    ### 3. Search & Prompt Processing\n    Single and multi-model LLM queries with real-time streaming capabilities.\n    \n    ### 4. Prompt Management\n    View, edit, and track prompt history with evaluation status.\n    \n    ### 5. Expert System\n    Expert registration, tier management, and domain certifications.\n    \n    ### 6. Workbench Operations\n    Task batch creation, expert allocation, and 3-3-3 evaluation workflows.\n    \n    ### 7. Payments & Transactions\n    Payment method management, transactions, and billing operations.\n    \n    ### 8. Data & Analytics\n    B2B data delivery, export functionality, and analytics endpoints.\n    \n    ## 🔐 Authentication\n    \n    Most endpoints require JWT authentication. Include the token in the Authorization header:\n    ```\n    Authorization: Bearer <your-jwt-token>\n    ```\n    \n    Get your token by registering and logging in via the Authentication endpoints.\n    \n    ## 📖 Getting Started\n    \n    1. Register a new user account via `/api/v1/auth/register`\n    2. Login to receive your JWT token via `/api/v1/auth/login`\n    3. Use the token to access protected endpoints\n    4. Complete your profile to access advanced features like the Workbench\n    \n    ## 🔄 Rate Limits\n    \n    - **Free Tier**: 100 requests/hour\n    - **Pro Tier**: 1,000 requests/hour\n    - **Pro Max Tier**: 10,000 requests/hour\n    \n    ## 📝 Response Format\n    \n    All responses follow standard HTTP status codes:\n    - `200`: Success\n    - `201`: Created\n    - `400`: Bad Request\n    - `401`: Unauthorized\n    - `403`: Forbidden\n    - `404`: Not Found\n    - `422`: Validation Error\n    - `500`: Internal Server Error\n    \n    ## 🌐 Base URL\n    \n    ```\n    https://api.raweval.com\n    ```\n    \n    For local development:\n    ```\n    http://localhost:8000\n    ```\n    ","version":"1.0.0","x-logo":{"url":"https://fastapi.tiangolo.com/img/logo-margin/logo-teal.png","altText":"RawEval API Logo"}},"servers":[{"url":"https://api.raweval.com","description":"Production server"},{"url":"http://localhost:8000","description":"Development server"}],"paths":{"/api/v1/auth/register":{"post":{"tags":["Authentication"],"summary":"Register New User","description":"Register a new user account with email and password (Real-time Platform)","operationId":"register_api_v1_auth_register_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCreate"}}},"required":true},"responses":{"201":{"description":"User successfully registered","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"400":{"description":"Email already registered or password too short"},"422":{"description":"Validation error"}}}},"/api/v1/auth/login":{"post":{"tags":["Authentication"],"summary":"User Login","description":"Authenticate user and receive JWT access token (Real-time Platform)","operationId":"login_api_v1_auth_login_post","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Body_login_api_v1_auth_login_post"}}},"required":true},"responses":{"200":{"description":"Login successful, returns access token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"401":{"description":"Incorrect email or password"},"422":{"description":"Validation error"}}}},"/api/v1/users/me":{"get":{"tags":["Users"],"summary":"Get Current User","description":"Get the currently authenticated user's profile information including role","operationId":"get_current_user_info_api_v1_users_me_get","responses":{"200":{"description":"User profile retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing token"}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/users/me/accessible-pages":{"get":{"tags":["Users"],"summary":"Get Accessible Pages","description":"Get all pages/routes accessible by the current user's role","operationId":"get_accessible_pages_for_user_api_v1_users_me_accessible_pages_get","responses":{"200":{"description":"Accessible pages retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessiblePagesResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing token"}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/users/{user_id}":{"get":{"tags":["Users"],"summary":"Get User by ID","description":"Get user profile information by user ID","operationId":"get_user_api_v1_users__user_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"User ID to retrieve","title":"User Id"},"description":"User ID to retrieve"}],"responses":{"200":{"description":"User profile retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"401":{"description":"Unauthorized"},"404":{"description":"User not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/users/{user_id}/metadata":{"get":{"tags":["Users"],"summary":"Get User Metadata","description":"Get detailed metadata for a user including education, expertise, and experience","operationId":"get_user_metadata_api_v1_users__user_id__metadata_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"User ID","title":"User Id"},"description":"User ID"}],"responses":{"200":{"description":"User metadata retrieved successfully","content":{"application/json":{"schema":{}}}},"401":{"description":"Unauthorized"},"404":{"description":"User metadata not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/users/{user_id}/domains":{"get":{"tags":["Users"],"summary":"Get User Domains","description":"Get all domain expertise information for a user","operationId":"get_user_domains_api_v1_users__user_id__domains_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"User ID","title":"User Id"},"description":"User ID"}],"responses":{"200":{"description":"User domains retrieved successfully","content":{"application/json":{"schema":{}}}},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/users/me/metadata":{"get":{"tags":["Users"],"summary":"Get Current User Metadata","description":"Get the current user's metadata including education, scores, and profile information","operationId":"get_current_user_metadata_api_v1_users_me_metadata_get","responses":{"200":{"description":"User metadata retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserMetadataResponse"}}}},"404":{"description":"User metadata not found"}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/users/me/profile-completion":{"get":{"tags":["Users"],"summary":"Check Profile Completion Status","description":"Check if the current user's profile is complete and get missing fields","operationId":"check_profile_completion_api_v1_users_me_profile_completion_get","responses":{"200":{"description":"Profile completion status retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileCompletionStatus"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/users/me/profile":{"put":{"tags":["Users"],"summary":"Update User Profile","description":"Update the current user's profile information including education, scores, and other metadata","operationId":"update_user_profile_api_v1_users_me_profile_put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUpdate"}}},"required":true},"responses":{"200":{"description":"Profile updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserMetadataResponse"}}}},"400":{"description":"Invalid profile data"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/search/query":{"post":{"tags":["Search"],"summary":"Single Model Search","description":"Execute a query using a single LLM model (GPT, Claude, or Gemini). Returns the model's response and stores the prompt for evaluation.","operationId":"search_query_api_v1_search_query_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"model","in":"query","required":false,"schema":{"type":"string","pattern":"^(gpt|claude|gemini)$","description":"Model to use: gpt, claude, or gemini","default":"gpt","title":"Model"},"description":"Model to use: gpt, claude, or gemini"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromptCreate"}}}},"responses":{"200":{"description":"Search completed successfully. The prompt has been stored and queued for evaluation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromptResponse"},"example":{"id":12345,"query_text":"Explain quantum computing","original_response":"Quantum computing is a revolutionary computing paradigm...","status":"pending_evaluation","domain":"science"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/json":{"example":{"detail":"Not authenticated"}}}},"422":{"description":"Validation error - Invalid request parameters","content":{"application/json":{"example":{"detail":[{"loc":["body","query_text"],"msg":"field required","type":"value_error.missing"}]}}}},"500":{"description":"Internal server error - Model query failed or database error","content":{"application/json":{"example":{"detail":"Internal server error occurred while processing the query"}}}}}}},"/api/v1/search/multimodel":{"post":{"tags":["Search"],"summary":"Multi-Model Search","description":"Execute a query across all available LLM models (GPT, Claude, Llama, Gemini, Grok) simultaneously in parallel. Returns responses from all models as they complete.","operationId":"search_multimodel_api_v1_search_multimodel_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultiModelSearchRequest"}}},"required":true},"responses":{"200":{"description":"Multi-model search completed. Responses from all models are included in the results dictionary.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultiModelSearchResponse"},"example":{"prompt_id":12345,"results":{"gpt":{"model":"gpt","response":"Quantum computing is...","status":"completed","timestamp":"2024-01-15T10:30:45Z"},"claude":{"model":"claude","response":"Quantum computing represents...","status":"completed","timestamp":"2024-01-15T10:30:47Z"}},"total_models":5,"completed":4,"failed":1}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token"},"422":{"description":"Validation error - Invalid request parameters"},"500":{"description":"Internal server error - One or more model queries failed"}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/search/multimodel/stream":{"get":{"tags":["Search"],"summary":"Multi-Model Search Stream","description":"Stream results from all models as they complete (Server-Sent Events)","operationId":"search_multimodel_stream_api_v1_search_multimodel_stream_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"query_text","in":"query","required":true,"schema":{"type":"string","description":"The search query or prompt","title":"Query Text"},"description":"The search query or prompt"},{"name":"domain","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Domain category","title":"Domain"},"description":"Domain category"},{"name":"timeout","in":"query","required":false,"schema":{"type":"integer","maximum":120,"minimum":5,"description":"Timeout in seconds","default":30,"title":"Timeout"},"description":"Timeout in seconds"}],"responses":{"200":{"description":"Streaming results","content":{"application/json":{"schema":{}}}},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/prompts/":{"get":{"tags":["Prompts"],"summary":"Get User Prompts","description":"Get a paginated list of prompts for the current user","operationId":"get_prompts_api_v1_prompts__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of records to skip","default":0,"title":"Skip"},"description":"Number of records to skip"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Maximum number of records to return","default":100,"title":"Limit"},"description":"Maximum number of records to return"},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by status (e.g., 'pending_evaluation', 'failed')","title":"Status"},"description":"Filter by status (e.g., 'pending_evaluation', 'failed')"}],"responses":{"200":{"description":"Prompts retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PromptResponse"},"title":"Response Get Prompts Api V1 Prompts  Get"}}}},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/prompts/{prompt_id}":{"get":{"tags":["Prompts"],"summary":"Get Prompt by ID","description":"Get a specific prompt by its ID","operationId":"get_prompt_api_v1_prompts__prompt_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"prompt_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Prompt ID","title":"Prompt Id"},"description":"Prompt ID"}],"responses":{"200":{"description":"Prompt retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromptResponse"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Prompt not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/prompts/{prompt_id}/mark-wrong":{"post":{"tags":["Prompts"],"summary":"Mark Prompt as Wrong","description":"Mark a prompt response as incorrect, moving it to high-priority evaluation","operationId":"mark_prompt_wrong_api_v1_prompts__prompt_id__mark_wrong_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"prompt_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Prompt ID","title":"Prompt Id"},"description":"Prompt ID"}],"responses":{"200":{"description":"Prompt marked as wrong successfully","content":{"application/json":{"schema":{}}}},"401":{"description":"Unauthorized"},"404":{"description":"Prompt not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/prompts/{prompt_id}/edit-history":{"get":{"tags":["Prompts"],"summary":"Get Prompt Edit History","description":"Get the complete edit history for a prompt","operationId":"get_prompt_edit_history_api_v1_prompts__prompt_id__edit_history_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"prompt_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Prompt ID","title":"Prompt Id"},"description":"Prompt ID"}],"responses":{"200":{"description":"Edit history retrieved successfully","content":{"application/json":{"schema":{}}}},"401":{"description":"Unauthorized"},"404":{"description":"Prompt not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/prompts/failed/list":{"get":{"tags":["Prompts"],"summary":"Get Failed Prompts","description":"Get a list of all failed prompts available for expert review","operationId":"get_failed_prompts_api_v1_prompts_failed_list_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of records to skip","default":0,"title":"Skip"},"description":"Number of records to skip"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Maximum number of records to return","default":100,"title":"Limit"},"description":"Maximum number of records to return"}],"responses":{"200":{"description":"Failed prompts retrieved successfully","content":{"application/json":{"schema":{}}}},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/experts/register":{"post":{"tags":["Experts"],"summary":"Register as Expert","description":"Register a user as an expert candidate","operationId":"register_expert_api_v1_experts_register_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpertCreate"}}},"required":true},"responses":{"200":{"description":"Expert registration successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpertResponse"}}}},"400":{"description":"User already registered as expert"},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/experts/":{"get":{"tags":["Experts"],"summary":"Get Experts","description":"Get a paginated list of experts, optionally filtered by tier","operationId":"get_experts_api_v1_experts__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"tier","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","maximum":3,"minimum":1},{"type":"null"}],"description":"Filter by expert tier (1, 2, or 3)","title":"Tier"},"description":"Filter by expert tier (1, 2, or 3)"},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of records to skip","default":0,"title":"Skip"},"description":"Number of records to skip"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Maximum number of records to return","default":100,"title":"Limit"},"description":"Maximum number of records to return"}],"responses":{"200":{"description":"Experts retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExpertResponse"},"title":"Response Get Experts Api V1 Experts  Get"}}}},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/experts/{expert_id}":{"get":{"tags":["Experts"],"summary":"Get Expert by ID","description":"Get expert information by expert ID","operationId":"get_expert_api_v1_experts__expert_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"expert_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Expert ID","title":"Expert Id"},"description":"Expert ID"}],"responses":{"200":{"description":"Expert retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpertResponse"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Expert not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/experts/{expert_id}/tier":{"put":{"tags":["Experts"],"summary":"Update Expert Tier","description":"Update an expert's tier and WoE score","operationId":"update_expert_tier_api_v1_experts__expert_id__tier_put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"expert_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Expert ID","title":"Expert Id"},"description":"Expert ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTierRequest"}}}},"responses":{"200":{"description":"Expert tier updated successfully","content":{"application/json":{"schema":{}}}},"401":{"description":"Unauthorized"},"404":{"description":"Expert not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/experts/{expert_id}/certifications":{"get":{"tags":["Experts"],"summary":"Get Expert Certifications","description":"Get all domain certifications for an expert","operationId":"get_expert_certifications_api_v1_experts__expert_id__certifications_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"expert_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Expert ID","title":"Expert Id"},"description":"Expert ID"}],"responses":{"200":{"description":"Certifications retrieved successfully","content":{"application/json":{"schema":{}}}},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/failed-prompts/create":{"post":{"tags":["Failed Prompts"],"summary":"Create Failed Prompt Final","description":"Create a new failed prompt entry for annotation","operationId":"create_failed_prompt_api_v1_failed_prompts_create_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFailedPromptRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedPromptFinalResponse"}}}},"201":{"description":"Failed prompt created successfully"},"400":{"description":"Prompt already exists in failed prompts"},"404":{"description":"Original prompt not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/failed-prompts/{failed_prompt_id}/add-conversation":{"post":{"tags":["Failed Prompts"],"summary":"Add Model Conversation","description":"Add a model conversation JSON to S3 and link it to failed prompt","operationId":"add_model_conversation_api_v1_failed_prompts__failed_prompt_id__add_conversation_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"failed_prompt_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Failed prompt ID","title":"Failed Prompt Id"},"description":"Failed prompt ID"},{"name":"model","in":"query","required":true,"schema":{"type":"string","description":"Model name (gpt, claude, llama, gemini, grok)","title":"Model"},"description":"Model name (gpt, claude, llama, gemini, grok)"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddConversationRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelConversationResponse"}}}},"201":{"description":"Conversation added successfully"},"404":{"description":"Failed prompt not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/failed-prompts/":{"get":{"tags":["Failed Prompts"],"summary":"Get All Failed Prompts","description":"Get all failed prompts ready for annotation","operationId":"get_failed_prompts_api_v1_failed_prompts__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by status","title":"Status"},"description":"Filter by status"},{"name":"priority","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by priority","title":"Priority"},"description":"Filter by priority"},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of records to skip","default":0,"title":"Skip"},"description":"Number of records to skip"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Maximum number of records","default":100,"title":"Limit"},"description":"Maximum number of records"}],"responses":{"200":{"description":"Failed prompts retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FailedPromptFinalResponse"},"title":"Response Get Failed Prompts Api V1 Failed Prompts  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/failed-prompts/{failed_prompt_id}":{"get":{"tags":["Failed Prompts"],"summary":"Get Failed Prompt by ID","description":"Get a specific failed prompt with details","operationId":"get_failed_prompt_api_v1_failed_prompts__failed_prompt_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"failed_prompt_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Failed prompt ID","title":"Failed Prompt Id"},"description":"Failed prompt ID"},{"name":"include_conversations","in":"query","required":false,"schema":{"type":"boolean","description":"Include model conversations in response","default":true,"title":"Include Conversations"},"description":"Include model conversations in response"}],"responses":{"200":{"description":"Failed prompt retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedPromptFinalResponse"}}}},"404":{"description":"Failed prompt not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/failed-prompts/{failed_prompt_id}/conversations":{"get":{"tags":["Failed Prompts"],"summary":"Get Model Conversations","description":"Get all model conversations for a failed prompt","operationId":"get_model_conversations_api_v1_failed_prompts__failed_prompt_id__conversations_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"failed_prompt_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Failed prompt ID","title":"Failed Prompt Id"},"description":"Failed prompt ID"},{"name":"model","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by model","title":"Model"},"description":"Filter by model"}],"responses":{"200":{"description":"Conversations retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ModelConversationResponse"},"title":"Response Get Model Conversations Api V1 Failed Prompts  Failed Prompt Id  Conversations Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/methods":{"get":{"tags":["Payments"],"summary":"Get Payment Methods","description":"Get all payment methods for the current user","operationId":"get_payment_methods_api_v1_payments_methods_get","responses":{"200":{"description":"Payment methods retrieved successfully","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/PaymentMethodResponse"},"type":"array","title":"Response Get Payment Methods Api V1 Payments Methods Get"}}}},"401":{"description":"Unauthorized"}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Payments"],"summary":"Create Payment Method","description":"Create a new payment method (Razorpay, Wise, or Bank Account)","operationId":"create_payment_method_api_v1_payments_methods_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodCreate"}}},"required":true},"responses":{"201":{"description":"Payment method created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponse"}}}},"400":{"description":"Invalid payment method data"},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/payments/methods/{method_id}":{"get":{"tags":["Payments"],"summary":"Get Payment Method by ID","description":"Get a specific payment method by ID","operationId":"get_payment_method_api_v1_payments_methods__method_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"method_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Payment method ID","title":"Method Id"},"description":"Payment method ID"}],"responses":{"200":{"description":"Payment method retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponse"}}}},"404":{"description":"Payment method not found"},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Payments"],"summary":"Update Payment Method","description":"Update a payment method (e.g., set as default)","operationId":"update_payment_method_api_v1_payments_methods__method_id__patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"method_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Payment method ID","title":"Method Id"},"description":"Payment method ID"},{"name":"is_default","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Set as default payment method","title":"Is Default"},"description":"Set as default payment method"}],"responses":{"200":{"description":"Payment method updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponse"}}}},"404":{"description":"Payment method not found"},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Payments"],"summary":"Delete Payment Method","description":"Delete (deactivate) a payment method","operationId":"delete_payment_method_api_v1_payments_methods__method_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"method_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Payment method ID","title":"Method Id"},"description":"Payment method ID"}],"responses":{"204":{"description":"Payment method deleted successfully"},"404":{"description":"Payment method not found"},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/bank-accounts":{"post":{"tags":["Payments"],"summary":"Create Bank Account","description":"Create a new bank account (Indian or Foreign) for payments","operationId":"create_bank_account_api_v1_payments_bank_accounts_post","security":[{"OAuth2PasswordBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankAccountCreate"}}}},"responses":{"201":{"description":"Bank account created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankAccountResponse"}}}},"400":{"description":"Invalid bank account data"},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Payments"],"summary":"Get Bank Accounts","description":"Get all bank accounts for the current user","operationId":"get_bank_accounts_api_v1_payments_bank_accounts_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"account_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by account type (indian_bank, foreign_bank)","title":"Account Type"},"description":"Filter by account type (indian_bank, foreign_bank)"}],"responses":{"200":{"description":"Bank accounts retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BankAccountResponse"},"title":"Response Get Bank Accounts Api V1 Payments Bank Accounts Get"}}}},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/bank-accounts/{account_id}":{"get":{"tags":["Payments"],"summary":"Get Bank Account by ID","description":"Get a specific bank account by ID","operationId":"get_bank_account_api_v1_payments_bank_accounts__account_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"account_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Bank account ID","title":"Account Id"},"description":"Bank account ID"}],"responses":{"200":{"description":"Bank account retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankAccountResponse"}}}},"404":{"description":"Bank account not found"},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Payments"],"summary":"Update Bank Account","description":"Update bank account details","operationId":"update_bank_account_api_v1_payments_bank_accounts__account_id__patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"account_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Bank account ID","title":"Account Id"},"description":"Bank account ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankAccountUpdate"}}}},"responses":{"200":{"description":"Bank account updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankAccountResponse"}}}},"404":{"description":"Bank account not found"},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Payments"],"summary":"Delete Bank Account","description":"Delete (deactivate) a bank account","operationId":"delete_bank_account_api_v1_payments_bank_accounts__account_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"account_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Bank account ID","title":"Account Id"},"description":"Bank account ID"}],"responses":{"204":{"description":"Bank account deleted successfully"},"404":{"description":"Bank account not found"},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments":{"post":{"tags":["Payments"],"summary":"Create Payment","description":"Create a new payment with support for multiple currencies (USD, INR, EUR, etc.)","operationId":"create_payment_api_v1_payments_post","security":[{"OAuth2PasswordBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentCreate"}}}},"responses":{"201":{"description":"Payment created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponse"}}}},"400":{"description":"Invalid payment data"},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Payments"],"summary":"Get Payments","description":"Get all payments for the current user with filtering options","operationId":"get_payments_api_v1_payments_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of records to skip","default":0,"title":"Skip"},"description":"Number of records to skip"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Maximum number of records to return","default":100,"title":"Limit"},"description":"Maximum number of records to return"},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by status (pending, completed, failed, etc.)","title":"Status"},"description":"Filter by status (pending, completed, failed, etc.)"},{"name":"payment_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by payment type","title":"Payment Type"},"description":"Filter by payment type"},{"name":"currency","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by currency","title":"Currency"},"description":"Filter by currency"}],"responses":{"200":{"description":"Payments retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentResponse"},"title":"Response Get Payments Api V1 Payments Get"}}}},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/{payment_id}":{"get":{"tags":["Payments"],"summary":"Get Payment by ID","description":"Get a specific payment by ID or payment_id","operationId":"get_payment_api_v1_payments__payment_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"payment_id","in":"path","required":true,"schema":{"type":"string","description":"Payment ID or payment_id","title":"Payment Id"},"description":"Payment ID or payment_id"}],"responses":{"200":{"description":"Payment retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponse"}}}},"404":{"description":"Payment not found"},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Payments"],"summary":"Update Payment","description":"Update payment status and details (typically used by payment providers)","operationId":"update_payment_api_v1_payments__payment_id__patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"payment_id","in":"path","required":true,"schema":{"type":"string","description":"Payment ID or payment_id","title":"Payment Id"},"description":"Payment ID or payment_id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentUpdate"}}}},"responses":{"200":{"description":"Payment updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponse"}}}},"404":{"description":"Payment not found"},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/statistics/summary":{"get":{"tags":["Payments"],"summary":"Get Payment Statistics","description":"Get payment statistics for the current user","operationId":"get_payment_statistics_api_v1_payments_statistics_summary_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"currency","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by currency","title":"Currency"},"description":"Filter by currency"}],"responses":{"200":{"description":"Payment statistics retrieved successfully","content":{"application/json":{"schema":{}}}},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/workbench/batches":{"post":{"tags":["Workbench"],"summary":"Create Task Batch","description":"Create a new task batch from failed prompts for expert evaluation","operationId":"create_task_batch_api_v1_workbench_batches_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBatchRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchResponse"}}}},"201":{"description":"Batch created successfully"},"400":{"description":"Invalid prompt IDs or batch creation failed"},"401":{"description":"Unauthorized"},"403":{"description":"Profile incomplete - please complete your profile first"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/workbench/allocate":{"post":{"tags":["Workbench"],"summary":"Allocate Experts to Prompts","description":"Allocate experts to prompts in a batch following the 3-3-3 workbench model","operationId":"allocate_experts_api_v1_workbench_allocate_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AllocateRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/AllocationDetailResponse"},"type":"array","title":"Response Allocate Experts Api V1 Workbench Allocate Post"}}}},"201":{"description":"Experts allocated successfully"},"400":{"description":"Invalid batch or insufficient experts"},"401":{"description":"Unauthorized"},"403":{"description":"Profile incomplete - please complete your profile first"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/workbench/reallocate":{"put":{"tags":["Workbench"],"summary":"Reallocate Expert to Prompt","description":"Change the expert assigned to a prompt","operationId":"reallocate_expert_api_v1_workbench_reallocate_put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReallocateRequest"}}},"required":true},"responses":{"200":{"description":"Expert reallocated successfully","content":{"application/json":{"schema":{}}}},"404":{"description":"Allocation not found"},"400":{"description":"Invalid expert or allocation"},"403":{"description":"Profile incomplete - please complete your profile first"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/workbench/allocations":{"get":{"tags":["Workbench"],"summary":"Get Task Allocations","description":"Get all task allocations, optionally filtered by batch or expert","operationId":"get_allocations_api_v1_workbench_allocations_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"batch_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by batch ID","title":"Batch Id"},"description":"Filter by batch ID"},{"name":"expert_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by expert ID","title":"Expert Id"},"description":"Filter by expert ID"},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by submission status","title":"Status"},"description":"Filter by submission status"},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of records to skip","default":0,"title":"Skip"},"description":"Number of records to skip"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Maximum number of records","default":100,"title":"Limit"},"description":"Maximum number of records"}],"responses":{"200":{"description":"Allocations retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AllocationDetailResponse"},"title":"Response Get Allocations Api V1 Workbench Allocations Get"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Profile incomplete - please complete your profile first"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/workbench/allocations/{allocation_id}":{"get":{"tags":["Workbench"],"summary":"Get Allocation by ID","description":"Get a specific task allocation by ID","operationId":"get_allocation_api_v1_workbench_allocations__allocation_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"allocation_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Allocation ID","title":"Allocation Id"},"description":"Allocation ID"}],"responses":{"200":{"description":"Allocation retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AllocationDetailResponse"}}}},"404":{"description":"Allocation not found"},"403":{"description":"Profile incomplete - please complete your profile first"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/workbench/profile-check":{"get":{"tags":["Workbench"],"summary":"Check Profile Completion for Workbench","description":"Check if the current user's profile is complete before accessing workbench","operationId":"check_workbench_profile_api_v1_workbench_profile_check_get","responses":{"200":{"description":"Profile check completed","content":{"application/json":{"schema":{}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/workbench/submissions":{"post":{"tags":["Workbench"],"summary":"Submit Task Annotation","description":"Submit an annotation/correction for an allocated prompt","operationId":"create_task_submission_api_v1_workbench_submissions_post","security":[{"OAuth2PasswordBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmissionCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmissionResponse"}}}},"201":{"description":"Task submission created successfully"},"400":{"description":"Invalid allocation or prompt"},"401":{"description":"Unauthorized"},"403":{"description":"Profile incomplete - please complete your profile first"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Workbench"],"summary":"Get Task Submissions","description":"Get all task submissions, optionally filtered by allocation, prompt, or annotator","operationId":"get_task_submissions_api_v1_workbench_submissions_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"allocation_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by allocation ID","title":"Allocation Id"},"description":"Filter by allocation ID"},{"name":"prompt_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by prompt ID","title":"Prompt Id"},"description":"Filter by prompt ID"},{"name":"annotator_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by annotator/expert ID","title":"Annotator Id"},"description":"Filter by annotator/expert ID"},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of records to skip","default":0,"title":"Skip"},"description":"Number of records to skip"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Maximum number of records","default":100,"title":"Limit"},"description":"Maximum number of records"}],"responses":{"200":{"description":"Submissions retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TaskSubmissionResponse"},"title":"Response Get Task Submissions Api V1 Workbench Submissions Get"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Profile incomplete - please complete your profile first"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/workbench/submissions/{submission_id}":{"put":{"tags":["Workbench"],"summary":"Update Task Annotation","description":"Update an existing task submission, optionally reassigning to a different annotator","operationId":"update_task_submission_api_v1_workbench_submissions__submission_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"submission_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Task submission ID","title":"Submission Id"},"description":"Task submission ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmissionUpdate"}}}},"responses":{"200":{"description":"Task submission updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmissionResponse"}}}},"400":{"description":"Invalid update request"},"401":{"description":"Unauthorized"},"404":{"description":"Submission not found"},"403":{"description":"Profile incomplete - please complete your profile first"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Workbench"],"summary":"Get Task Submission by ID","description":"Get a specific task submission by ID","operationId":"get_task_submission_api_v1_workbench_submissions__submission_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"submission_id","in":"path","required":true,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Task submission ID","title":"Submission Id"},"description":"Task submission ID"}],"responses":{"200":{"description":"Submission retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmissionResponse"}}}},"404":{"description":"Submission not found"},"403":{"description":"Profile incomplete - please complete your profile first"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/workbench/domain-pending-counts":{"get":{"tags":["Workbench"],"summary":"Get Pending Counts by Domain","description":"Get count of pending failed prompts grouped by domain","operationId":"get_domain_pending_counts_api_v1_workbench_domain_pending_counts_get","responses":{"200":{"description":"Pending counts retrieved successfully","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/DomainPendingCountResponse"},"type":"array","title":"Response Get Domain Pending Counts Api V1 Workbench Domain Pending Counts Get"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Profile incomplete - please complete your profile first"}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/workbench/auto-create-batches":{"post":{"tags":["Workbench"],"summary":"Auto Create Batches for Domains","description":"Automatically create batches and allocate experts for domains with >= threshold pending prompts","operationId":"auto_create_batches_api_v1_workbench_auto_create_batches_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoBatchCreateRequest"}}},"required":true},"responses":{"200":{"description":"Batches created and allocated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoBatchCreateResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Profile incomplete - please complete your profile first"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/data/ingest":{"post":{"tags":["Data"],"summary":"Ingest Single Prompt","description":"Ingest a single prompt from B2B client or external source","operationId":"ingest_prompt_api_v1_data_ingest_post","parameters":[{"name":"X-API-Key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"B2B client API key","title":"X-Api-Key"},"description":"B2B client API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataIngestRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataIngestResponse"}}}},"201":{"description":"Prompt ingested successfully"},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized - Invalid API key"},"429":{"description":"Rate limit exceeded"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/data/ingest/bulk":{"post":{"tags":["Data"],"summary":"Bulk Ingest Prompts","description":"Ingest multiple prompts in a single request (max 100)","operationId":"bulk_ingest_prompts_api_v1_data_ingest_bulk_post","parameters":[{"name":"X-API-Key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"B2B client API key","title":"X-Api-Key"},"description":"B2B client API key"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkIngestRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkIngestResponse"}}}},"201":{"description":"Bulk ingestion completed"},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/data/ingest/stats":{"get":{"tags":["Data"],"summary":"Get Ingestion Statistics","description":"Get statistics about ingested prompts","operationId":"get_ingestion_stats_api_v1_data_ingest_stats_get","parameters":[{"name":"start_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Start date for filtering","title":"Start Date"},"description":"Start date for filtering"},{"name":"end_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"End date for filtering","title":"End Date"},"description":"End date for filtering"},{"name":"X-API-Key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"B2B client API key","title":"X-Api-Key"},"description":"B2B client API key"}],"responses":{"200":{"description":"Statistics retrieved successfully","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/interviews/resume-summary":{"post":{"tags":["Interviews"],"summary":"Generate Resume Summary","description":"Generate a concise resume summary for interview context. Uses cost-optimized models and caching.","operationId":"generate_resume_summary_api_v1_interviews_resume_summary_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResumeSummaryRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResumeSummaryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/interviews/questions/generate":{"post":{"tags":["Interviews"],"summary":"Generate Interview Question","description":"Generate a resume-specific interview question using cost-optimized models","operationId":"generate_interview_question_api_v1_interviews_questions_generate_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterviewQuestionRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterviewQuestionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/interviews/coding/generate-problem":{"post":{"tags":["Interviews"],"summary":"Generate Coding Problem","description":"Generate a resume-specific buggy code problem for coding interviews","operationId":"generate_coding_problem_api_v1_interviews_coding_generate_problem_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodingProblemRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodingProblemResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/interviews/rubric/generate":{"post":{"tags":["Interviews"],"summary":"Generate Evaluation Rubric","description":"Generate an evaluation rubric for an interview answer using GPT-4o","operationId":"generate_rubric_api_v1_interviews_rubric_generate_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RubricRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RubricResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/interviews/cost-estimate":{"get":{"tags":["Interviews"],"summary":"Estimate Interview Costs","description":"Estimate LLM costs for interview operations","operationId":"estimate_costs_api_v1_interviews_cost_estimate_get","parameters":[{"name":"task_type","in":"query","required":true,"schema":{"type":"string","description":"Task type: resume_summary, question_generation, coding_problem, rubric","title":"Task Type"},"description":"Task type: resume_summary, question_generation, coding_problem, rubric"},{"name":"estimated_input_tokens","in":"query","required":false,"schema":{"type":"integer","description":"Estimated input tokens","default":1000,"title":"Estimated Input Tokens"},"description":"Estimated input tokens"},{"name":"estimated_output_tokens","in":"query","required":false,"schema":{"type":"integer","description":"Estimated output tokens","default":500,"title":"Estimated Output Tokens"},"description":"Estimated output tokens"},{"name":"quality","in":"query","required":false,"schema":{"type":"string","description":"Quality requirement: low, medium, high","default":"medium","title":"Quality"},"description":"Quality requirement: low, medium, high"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/interviews/cache/stats":{"get":{"tags":["Interviews"],"summary":"Get Resume Cache Statistics","description":"Get statistics about resume summary cache","operationId":"get_cache_stats_api_v1_interviews_cache_stats_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/v1/interviews/sessions":{"post":{"tags":["Interviews"],"summary":"Create Interview Session","description":"Create a new interview session with automatic history management","operationId":"create_interview_session_api_v1_interviews_sessions_post","security":[{"OAuth2PasswordBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Interviews"],"summary":"List User Sessions","description":"Get all interview sessions for the current user","operationId":"list_user_sessions_api_v1_interviews_sessions_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by status: created, in_progress, completed","title":"Status"},"description":"Filter by status: created, in_progress, completed"},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Skip"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"default":100,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/interviews/sessions/{session_id}/questions":{"post":{"tags":["Interviews"],"summary":"Generate Question (Session-based)","description":"Generate an interview question using session context. History is automatically managed.","operationId":"generate_question_with_session_api_v1_interviews_sessions__session_id__questions_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"integer","title":"Session Id"}},{"name":"segment_type","in":"query","required":true,"schema":{"type":"string","description":"Type: conversation, technical, coding, behavioral","title":"Segment Type"},"description":"Type: conversation, technical, coding, behavioral"},{"name":"domain","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Domain/subject area","title":"Domain"},"description":"Domain/subject area"},{"name":"difficulty","in":"query","required":false,"schema":{"type":"string","description":"Difficulty: easy, medium, hard","default":"medium","title":"Difficulty"},"description":"Difficulty: easy, medium, hard"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterviewQuestionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/interviews/sessions/{session_id}/answers":{"post":{"tags":["Interviews"],"summary":"Submit Answer","description":"Submit an answer to a question in the session","operationId":"submit_answer_api_v1_interviews_sessions__session_id__answers_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"integer","title":"Session Id"}},{"name":"transcript_id","in":"query","required":true,"schema":{"type":"integer","title":"Transcript Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitAnswerRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/interviews/sessions/{session_id}/complete":{"post":{"tags":["Interviews"],"summary":"Complete Interview Session","description":"Mark session as completed and generate transcript.txt file","operationId":"complete_session_api_v1_interviews_sessions__session_id__complete_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"integer","title":"Session Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/interviews/sessions/{session_id}":{"get":{"tags":["Interviews"],"summary":"Get Session Summary","description":"Get complete summary of an interview session including all transcripts","operationId":"get_session_summary_api_v1_interviews_sessions__session_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"integer","title":"Session Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionSummaryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/":{"get":{"tags":["Root"],"summary":"API Root Endpoint","description":"Welcome endpoint providing API information, version, and available features","operationId":"root__get","responses":{"200":{"description":"API information retrieved successfully","content":{"application/json":{"schema":{},"example":{"message":"RawEval API - Welcome to AI Labs","status":"running","version":"1.0.0","docs":"/docs","explorer":"/explorer","features":["Multi-model LLM search (GPT, Claude, Llama, Gemini, Grok)","3-3-3 workbench system","Expert vetting and tiering","B2B data delivery","Comprehensive analytics"]}}}}}}},"/health":{"get":{"tags":["Health"],"summary":"Health Check Endpoint","description":"Health check endpoint for system monitoring and uptime verification","operationId":"health_check_health_get","responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{},"example":{"status":"healthy","service":"RawEval API","timestamp":"2024-01-15T10:30:00Z"}}}},"503":{"description":"Service is unhealthy or experiencing issues"}}}}},"components":{"schemas":{"AccessiblePagesResponse":{"properties":{"role":{"type":"string","title":"Role"},"accessible_pages":{"items":{"type":"string"},"type":"array","title":"Accessible Pages"}},"type":"object","required":["role","accessible_pages"],"title":"AccessiblePagesResponse"},"AddConversationRequest":{"properties":{"conversation_data":{"type":"object","title":"Conversation Data","description":"Conversation JSON data"},"response_text":{"type":"string","title":"Response Text","description":"Model response text"}},"type":"object","required":["conversation_data","response_text"],"title":"AddConversationRequest"},"AllocateRequest":{"properties":{"batch_id":{"type":"integer","title":"Batch Id","description":"Batch ID to allocate experts for"},"prompt_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Prompt Id","description":"Specific prompt ID (if not provided, allocates all in batch)"}},"type":"object","required":["batch_id"],"title":"AllocateRequest"},"AllocationDetailResponse":{"properties":{"id":{"type":"integer","title":"Id"},"batch_id":{"type":"integer","title":"Batch Id"},"expert_id":{"type":"integer","title":"Expert Id"},"expert_tier":{"type":"integer","title":"Expert Tier"},"assigned_prompt_ids":{"items":{"type":"integer"},"type":"array","title":"Assigned Prompt Ids"},"submission_status":{"type":"string","title":"Submission Status"},"session_started_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Session Started At"}},"type":"object","required":["id","batch_id","expert_id","expert_tier","assigned_prompt_ids","submission_status","session_started_at"],"title":"AllocationDetailResponse"},"AutoBatchCreateRequest":{"properties":{"threshold":{"type":"integer","maximum":1000.0,"minimum":1.0,"title":"Threshold","description":"Minimum pending count to trigger batch creation","default":100},"tier_1_expert_count":{"type":"integer","maximum":10.0,"minimum":1.0,"title":"Tier 1 Expert Count","description":"Number of Tier 1 experts per prompt","default":3},"tier_2_expert_count":{"type":"integer","maximum":10.0,"minimum":1.0,"title":"Tier 2 Expert Count","description":"Number of Tier 2 experts per prompt","default":3},"tier_3_expert_count":{"type":"integer","maximum":10.0,"minimum":1.0,"title":"Tier 3 Expert Count","description":"Number of Tier 3 experts per prompt","default":3}},"type":"object","title":"AutoBatchCreateRequest"},"AutoBatchCreateResponse":{"properties":{"domains_processed":{"additionalProperties":{"type":"object"},"type":"object","title":"Domains Processed"},"summary":{"additionalProperties":{"type":"integer"},"type":"object","title":"Summary"}},"type":"object","required":["domains_processed","summary"],"title":"AutoBatchCreateResponse"},"BankAccountCreate":{"properties":{"payment_method_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Payment Method Id"},"account_type":{"type":"string","title":"Account Type"},"bank_name":{"type":"string","title":"Bank Name"},"account_holder_name":{"type":"string","title":"Account Holder Name"},"account_number":{"type":"string","title":"Account Number"},"ifsc_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ifsc Code"},"swift_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Swift Code"},"routing_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Routing Number"},"branch_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Branch Name"},"branch_address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Branch Address"},"country":{"type":"string","title":"Country"},"currency":{"type":"string","title":"Currency"}},"type":"object","required":["account_type","bank_name","account_holder_name","account_number","country","currency"],"title":"BankAccountCreate"},"BankAccountResponse":{"properties":{"id":{"type":"integer","title":"Id"},"payment_method_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Payment Method Id"},"user_id":{"type":"integer","title":"User Id"},"account_type":{"type":"string","title":"Account Type"},"bank_name":{"type":"string","title":"Bank Name"},"account_holder_name":{"type":"string","title":"Account Holder Name"},"account_number_last4":{"type":"string","title":"Account Number Last4"},"ifsc_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ifsc Code"},"swift_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Swift Code"},"routing_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Routing Number"},"branch_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Branch Name"},"branch_address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Branch Address"},"country":{"type":"string","title":"Country"},"currency":{"type":"string","title":"Currency"},"is_verified":{"type":"boolean","title":"Is Verified"},"verification_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Verification Date"},"is_active":{"type":"boolean","title":"Is Active"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"}},"type":"object","required":["id","user_id","account_type","bank_name","account_holder_name","account_number_last4","country","currency","is_verified","is_active","created_at","updated_at"],"title":"BankAccountResponse"},"BankAccountUpdate":{"properties":{"bank_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Bank Name"},"account_holder_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Holder Name"},"branch_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Branch Name"},"branch_address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Branch Address"},"is_active":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active"}},"type":"object","title":"BankAccountUpdate"},"BatchResponse":{"properties":{"id":{"type":"integer","title":"Id"},"batch_number":{"type":"string","title":"Batch Number"},"status":{"type":"string","title":"Status"},"total_prompts_in_batch":{"type":"integer","title":"Total Prompts In Batch"},"tier_1_expert_count":{"type":"integer","title":"Tier 1 Expert Count"},"tier_2_expert_count":{"type":"integer","title":"Tier 2 Expert Count"},"tier_3_expert_count":{"type":"integer","title":"Tier 3 Expert Count"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","batch_number","status","total_prompts_in_batch","tier_1_expert_count","tier_2_expert_count","tier_3_expert_count","created_at"],"title":"BatchResponse"},"Body_login_api_v1_auth_login_post":{"properties":{"grant_type":{"anyOf":[{"type":"string","pattern":"password"},{"type":"null"}],"title":"Grant Type"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"scope":{"type":"string","title":"Scope","default":""},"client_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Id"},"client_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Secret"}},"type":"object","required":["username","password"],"title":"Body_login_api_v1_auth_login_post"},"BulkIngestRequest":{"properties":{"prompts":{"items":{"$ref":"#/components/schemas/DataIngestRequest"},"type":"array","maxItems":100,"title":"Prompts","description":"List of prompts to ingest"},"batch_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Batch Name","description":"Optional batch name for tracking"}},"type":"object","required":["prompts"],"title":"BulkIngestRequest"},"BulkIngestResponse":{"properties":{"total_prompts":{"type":"integer","title":"Total Prompts"},"successful":{"type":"integer","title":"Successful"},"failed":{"type":"integer","title":"Failed"},"prompt_ids":{"items":{"type":"integer"},"type":"array","title":"Prompt Ids"},"errors":{"items":{"type":"string"},"type":"array","title":"Errors"}},"type":"object","required":["total_prompts","successful","failed","prompt_ids","errors"],"title":"BulkIngestResponse"},"CodingProblemRequest":{"properties":{"transcript_history":{"anyOf":[{"items":{"additionalProperties":{"type":"string"},"type":"object"},"type":"array"},{"type":"null"}],"title":"Transcript History","description":"Previous conversation"},"previous_problems":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Previous Problems","description":"Previous code problems to avoid"},"use_resume_cache":{"type":"boolean","title":"Use Resume Cache","description":"Use cached resume summary","default":true}},"type":"object","title":"CodingProblemRequest"},"CodingProblemResponse":{"properties":{"code":{"type":"string","title":"Code"},"language":{"type":"string","title":"Language"},"full_response":{"type":"string","title":"Full Response"},"cost_info":{"type":"object","title":"Cost Info"},"model_used":{"type":"string","title":"Model Used"},"provider":{"type":"string","title":"Provider"}},"type":"object","required":["code","language","full_response","cost_info","model_used","provider"],"title":"CodingProblemResponse"},"CreateBatchRequest":{"properties":{"failed_prompt_ids":{"items":{"type":"integer"},"type":"array","title":"Failed Prompt Ids","description":"List of failed prompt IDs to include in batch"},"tier_1_expert_count":{"type":"integer","maximum":10.0,"minimum":1.0,"title":"Tier 1 Expert Count","description":"Number of Tier 1 experts per prompt","default":3},"tier_2_expert_count":{"type":"integer","maximum":10.0,"minimum":1.0,"title":"Tier 2 Expert Count","description":"Number of Tier 2 experts per prompt","default":3},"tier_3_expert_count":{"type":"integer","maximum":10.0,"minimum":1.0,"title":"Tier 3 Expert Count","description":"Number of Tier 3 experts per prompt","default":3}},"type":"object","required":["failed_prompt_ids"],"title":"CreateBatchRequest"},"CreateFailedPromptRequest":{"properties":{"prompt_id":{"type":"integer","title":"Prompt Id"},"failure_reason":{"type":"string","title":"Failure Reason"},"priority":{"type":"string","title":"Priority","default":"normal"}},"type":"object","required":["prompt_id","failure_reason"],"title":"CreateFailedPromptRequest"},"CreateSessionRequest":{"properties":{"expert_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Expert Id","description":"Expert ID if interviewing an expert"}},"type":"object","title":"CreateSessionRequest"},"CreateSessionResponse":{"properties":{"session_id":{"type":"integer","title":"Session Id"},"user_id":{"type":"integer","title":"User Id"},"status":{"type":"string","title":"Status"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["session_id","user_id","status","created_at"],"title":"CreateSessionResponse"},"DataIngestRequest":{"properties":{"query_text":{"type":"string","minLength":1,"title":"Query Text","description":"The prompt/query text"},"domain":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Domain","description":"Domain category"},"subdomain":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Subdomain","description":"Subdomain category"},"query_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Query Type","description":"Type of query"},"difficulty_level":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Difficulty Level","description":"Difficulty level"},"metadata":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Metadata","description":"Additional metadata"},"model_responses":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Model Responses","description":"Pre-computed model responses (optional)"}},"type":"object","required":["query_text"],"title":"DataIngestRequest"},"DataIngestResponse":{"properties":{"prompt_id":{"type":"integer","title":"Prompt Id"},"status":{"type":"string","title":"Status"},"message":{"type":"string","title":"Message"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["prompt_id","status","message","created_at"],"title":"DataIngestResponse"},"DomainPendingCountResponse":{"properties":{"domain":{"type":"string","title":"Domain"},"pending_count":{"type":"integer","title":"Pending Count"}},"type":"object","required":["domain","pending_count"],"title":"DomainPendingCountResponse"},"ExpertCreate":{"properties":{"user_id":{"type":"integer","title":"User Id"}},"type":"object","required":["user_id"],"title":"ExpertCreate"},"ExpertResponse":{"properties":{"id":{"type":"integer","title":"Id"},"user_id":{"type":"integer","title":"User Id"},"expert_tier":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Expert Tier"},"woe_score":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Woe Score"},"interview_completed":{"type":"boolean","title":"Interview Completed"}},"type":"object","required":["id","user_id","expert_tier","woe_score","interview_completed"],"title":"ExpertResponse"},"FailedPromptFinalResponse":{"properties":{"id":{"type":"integer","title":"Id"},"prompt_id":{"type":"integer","title":"Prompt Id"},"original_prompt_text":{"type":"string","title":"Original Prompt Text"},"domain":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Domain"},"status":{"type":"string","title":"Status"},"priority":{"type":"string","title":"Priority"},"conversations":{"anyOf":[{"items":{"$ref":"#/components/schemas/ModelConversationResponse"},"type":"array"},{"type":"null"}],"title":"Conversations"}},"type":"object","required":["id","prompt_id","original_prompt_text","domain","status","priority"],"title":"FailedPromptFinalResponse"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"InterviewQuestionRequest":{"properties":{"segment_type":{"type":"string","title":"Segment Type","description":"Type of interview segment: conversation, coding, technical, behavioral"},"domain":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Domain","description":"Domain/subject area"},"difficulty":{"type":"string","title":"Difficulty","description":"Difficulty level: easy, medium, hard","default":"medium"},"transcript_history":{"anyOf":[{"items":{"additionalProperties":{"type":"string"},"type":"object"},"type":"array"},{"type":"null"}],"title":"Transcript History","description":"Previous Q&A pairs"},"use_resume_cache":{"type":"boolean","title":"Use Resume Cache","description":"Use cached resume summary","default":true}},"type":"object","required":["segment_type"],"title":"InterviewQuestionRequest"},"InterviewQuestionResponse":{"properties":{"question":{"type":"string","title":"Question"},"segment_type":{"type":"string","title":"Segment Type"},"domain":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Domain"},"difficulty":{"type":"string","title":"Difficulty"},"cost_info":{"type":"object","title":"Cost Info"},"model_used":{"type":"string","title":"Model Used"},"provider":{"type":"string","title":"Provider"}},"type":"object","required":["question","segment_type","domain","difficulty","cost_info","model_used","provider"],"title":"InterviewQuestionResponse"},"ModelConversationResponse":{"properties":{"id":{"type":"integer","title":"Id"},"model":{"type":"string","title":"Model"},"conversation_json_s3_url":{"type":"string","title":"Conversation Json S3 Url"},"response_text":{"type":"string","title":"Response Text"},"created_at":{"type":"string","title":"Created At"}},"type":"object","required":["id","model","conversation_json_s3_url","response_text","created_at"],"title":"ModelConversationResponse"},"MultiModelSearchRequest":{"properties":{"query_text":{"type":"string","maxLength":10000,"minLength":1,"title":"Query Text","description":"The search query or prompt to process across all models. This is the question or instruction you want all LLM models to respond to.","example":"Explain quantum computing and its practical applications"},"domain":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Domain","description":"Optional domain category for the query. Helps in organizing and routing prompts to domain-specific experts. Examples: 'science', 'technology', 'medicine', 'history', 'law'.","example":"science"},"timeout":{"anyOf":[{"type":"integer","maximum":120.0,"minimum":5.0},{"type":"null"}],"title":"Timeout","description":"Timeout in seconds for each model query. If a model doesn't respond within this time, it will be marked as timed out. Minimum: 5 seconds, Maximum: 120 seconds.","default":30,"example":30}},"type":"object","required":["query_text"],"title":"MultiModelSearchRequest","description":"Request schema for multi-model search","example":{"domain":"science","query_text":"Explain quantum computing and its practical applications in cryptography","timeout":30}},"MultiModelSearchResponse":{"properties":{"prompt_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Prompt Id","description":"Database ID of the stored prompt. This ID can be used to retrieve the prompt later or track its evaluation status.","example":12345},"results":{"type":"object","title":"Results","description":"Dictionary of model responses keyed by model name. Each key is a model name (e.g., 'gpt', 'claude') and the value is a ModelResponse object containing the response, status, and metadata.","example":{"claude":{"model":"claude","response":"Quantum computing represents...","status":"completed","timestamp":"2024-01-15T10:30:47.456Z"},"gpt":{"model":"gpt","response":"Quantum computing is a revolutionary...","status":"completed","timestamp":"2024-01-15T10:30:45.123Z"}}},"total_models":{"type":"integer","title":"Total Models","description":"Total number of models that were queried in this request.","example":5},"completed":{"type":"integer","title":"Completed","description":"Number of models that completed successfully with a response.","example":4},"failed":{"type":"integer","title":"Failed","description":"Number of models that failed (error or timeout). This is calculated as total_models - completed.","example":1}},"type":"object","required":["results","total_models","completed","failed"],"title":"MultiModelSearchResponse","description":"Response schema for multi-model search results"},"PaymentCreate":{"properties":{"payment_method_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Payment Method Id"},"bank_account_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Bank Account Id"},"amount":{"type":"number","title":"Amount"},"currency":{"type":"string","title":"Currency"},"payment_type":{"type":"string","title":"Payment Type"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"related_user_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Related User Id"},"related_prompt_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Related Prompt Id"},"related_subscription_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Related Subscription Id"},"related_expert_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Related Expert Id"},"related_batch_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Related Batch Id"},"metadata":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Metadata"}},"type":"object","required":["amount","currency","payment_type"],"title":"PaymentCreate"},"PaymentMethodCreate":{"properties":{"method_type":{"type":"string","title":"Method Type"},"method_name":{"type":"string","title":"Method Name"},"is_default":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Default","default":false},"metadata":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Metadata"}},"type":"object","required":["method_type","method_name"],"title":"PaymentMethodCreate"},"PaymentMethodResponse":{"properties":{"id":{"type":"integer","title":"Id"},"user_id":{"type":"integer","title":"User Id"},"method_type":{"type":"string","title":"Method Type"},"method_name":{"type":"string","title":"Method Name"},"is_default":{"type":"boolean","title":"Is Default"},"is_active":{"type":"boolean","title":"Is Active"},"payment_metadata":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Payment Metadata"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"}},"type":"object","required":["id","user_id","method_type","method_name","is_default","is_active","created_at","updated_at"],"title":"PaymentMethodResponse"},"PaymentResponse":{"properties":{"id":{"type":"integer","title":"Id"},"payment_id":{"type":"string","title":"Payment Id"},"user_id":{"type":"integer","title":"User Id"},"payment_method_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Payment Method Id"},"bank_account_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Bank Account Id"},"amount":{"type":"number","title":"Amount"},"currency":{"type":"string","title":"Currency"},"payment_type":{"type":"string","title":"Payment Type"},"status":{"type":"string","title":"Status"},"provider":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Provider"},"provider_payment_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Provider Payment Id"},"transaction_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Transaction Id"},"transaction_fee":{"type":"number","title":"Transaction Fee"},"net_amount":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Net Amount"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"payment_metadata":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Payment Metadata"},"failure_reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Failure Reason"},"related_user_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Related User Id"},"related_prompt_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Related Prompt Id"},"related_subscription_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Related Subscription Id"},"related_expert_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Related Expert Id"},"related_batch_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Related Batch Id"},"initiated_at":{"type":"string","format":"date-time","title":"Initiated At"},"processed_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Processed At"},"completed_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Completed At"},"failed_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Failed At"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"}},"type":"object","required":["id","payment_id","user_id","amount","currency","payment_type","status","transaction_fee","initiated_at","created_at","updated_at"],"title":"PaymentResponse"},"PaymentUpdate":{"properties":{"status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status"},"provider_payment_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Provider Payment Id"},"provider_response":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Provider Response"},"transaction_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Transaction Id"},"transaction_fee":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Transaction Fee"},"failure_reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Failure Reason"},"metadata":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Metadata"}},"type":"object","title":"PaymentUpdate"},"ProfileCompletionStatus":{"properties":{"profile_completed":{"type":"boolean","title":"Profile Completed"},"missing_fields":{"items":{"type":"string"},"type":"array","title":"Missing Fields"}},"type":"object","required":["profile_completed","missing_fields"],"title":"ProfileCompletionStatus"},"PromptCreate":{"properties":{"query_text":{"type":"string","maxLength":10000,"minLength":1,"title":"Query Text","description":"The text of the prompt or query to be processed by LLM models. This is the user's question or instruction.","example":"Explain the concept of quantum entanglement in simple terms."},"domain":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Domain","description":"Optional domain category for the prompt. Helps in routing to domain-specific experts and organizing prompts. Examples: 'science', 'technology', 'medicine', 'history'.","example":"science"}},"type":"object","required":["query_text"],"title":"PromptCreate","description":"Request schema for creating a new prompt/query","example":{"domain":"science","query_text":"Explain the concept of quantum entanglement in simple terms."}},"PromptResponse":{"properties":{"id":{"type":"integer","title":"Id","description":"Unique prompt identifier","example":12345},"query_text":{"type":"string","title":"Query Text","description":"The original query text submitted by the user","example":"Explain the concept of quantum entanglement in simple terms."},"original_response":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Original Response","description":"The original response generated by the LLM model. May be null if the prompt is still being processed.","example":"Quantum entanglement is a physical phenomenon where two or more particles become interconnected..."},"status":{"type":"string","title":"Status","description":"Current status of the prompt. Possible values: 'pending_evaluation', 'completed', 'failed', 'under_review'","example":"pending_evaluation"},"domain":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Domain","description":"Domain category assigned to the prompt","example":"science"}},"type":"object","required":["id","query_text","status"],"title":"PromptResponse","description":"Response schema for prompt information"},"ReallocateRequest":{"properties":{"allocation_id":{"type":"integer","title":"Allocation Id","description":"Existing allocation ID to reallocate"},"new_expert_id":{"type":"integer","title":"New Expert Id","description":"New expert ID to assign"},"reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reason","description":"Reason for reallocation"}},"type":"object","required":["allocation_id","new_expert_id"],"title":"ReallocateRequest"},"ResumeSummaryRequest":{"properties":{"resume_text":{"type":"string","minLength":100,"title":"Resume Text","description":"Resume OCR text or plain text"},"use_cache":{"type":"boolean","title":"Use Cache","description":"Use cached summary if available","default":true}},"type":"object","required":["resume_text"],"title":"ResumeSummaryRequest"},"ResumeSummaryResponse":{"properties":{"summary":{"type":"object","title":"Summary"},"skills":{"items":{"type":"string"},"type":"array","title":"Skills"},"languages":{"items":{"type":"string"},"type":"array","title":"Languages"},"experience_years":{"type":"integer","title":"Experience Years"},"education_level":{"type":"string","title":"Education Level"},"experience_level":{"type":"string","title":"Experience Level"},"key_projects":{"items":{"type":"string"},"type":"array","title":"Key Projects"},"cost_info":{"type":"object","title":"Cost Info"},"cached":{"type":"boolean","title":"Cached"}},"type":"object","required":["summary","skills","languages","experience_years","education_level","experience_level","key_projects","cost_info","cached"],"title":"ResumeSummaryResponse"},"RubricRequest":{"properties":{"question":{"type":"string","title":"Question","description":"Interview question"},"answer":{"type":"string","title":"Answer","description":"Candidate's answer"},"question_type":{"type":"string","title":"Question Type","description":"Type: coding, technical, behavioral, general","default":"general"}},"type":"object","required":["question","answer"],"title":"RubricRequest"},"RubricResponse":{"properties":{"rubric":{"type":"object","title":"Rubric"},"score":{"type":"integer","title":"Score"},"quality":{"type":"string","title":"Quality"},"cost_info":{"type":"object","title":"Cost Info"},"model_used":{"type":"string","title":"Model Used"}},"type":"object","required":["rubric","score","quality","cost_info","model_used"],"title":"RubricResponse"},"SessionSummaryResponse":{"properties":{"session_id":{"type":"integer","title":"Session Id"},"user_id":{"type":"integer","title":"User Id"},"expert_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Expert Id"},"status":{"type":"string","title":"Status"},"total_questions":{"type":"integer","title":"Total Questions"},"total_cost_usd":{"type":"number","title":"Total Cost Usd"},"transcript_file_s3_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Transcript File S3 Url"},"started_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Started At"},"completed_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Completed At"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"transcripts":{"items":{"type":"object"},"type":"array","title":"Transcripts"}},"type":"object","required":["session_id","user_id","expert_id","status","total_questions","total_cost_usd","transcript_file_s3_url","started_at","completed_at","created_at","transcripts"],"title":"SessionSummaryResponse"},"SubmitAnswerRequest":{"properties":{"answer":{"type":"string","minLength":1,"title":"Answer","description":"Candidate's answer to the question"}},"type":"object","required":["answer"],"title":"SubmitAnswerRequest"},"TaskSubmissionCreate":{"properties":{"allocation_id":{"type":"integer","title":"Allocation Id","description":"Task allocation ID"},"prompt_id":{"type":"integer","title":"Prompt Id","description":"Prompt ID being annotated"},"corrected_response":{"type":"string","title":"Corrected Response","description":"Corrected response text"},"reasoning":{"type":"string","title":"Reasoning","description":"Reasoning for the correction"},"correction_confidence":{"anyOf":[{"type":"number","maximum":1.0,"minimum":0.0},{"type":"null"}],"title":"Correction Confidence","description":"Confidence score (0.0-1.0)"},"new_rubric":{"type":"object","title":"New Rubric","description":"New rubric as JSON object"},"submission_time_seconds":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Submission Time Seconds","description":"Time taken to complete annotation in seconds"}},"type":"object","required":["allocation_id","prompt_id","corrected_response","reasoning","new_rubric"],"title":"TaskSubmissionCreate"},"TaskSubmissionResponse":{"properties":{"id":{"type":"integer","title":"Id"},"allocation_id":{"type":"integer","title":"Allocation Id"},"prompt_id":{"type":"integer","title":"Prompt Id"},"annotator_id":{"type":"integer","title":"Annotator Id"},"corrected_response":{"type":"string","title":"Corrected Response"},"reasoning":{"type":"string","title":"Reasoning"},"correction_confidence":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Correction Confidence"},"new_rubric":{"type":"object","title":"New Rubric"},"submission_time_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Submission Time Seconds"},"submitte
[...]
