{
  "openapi": "3.1.0",
  "info": {
    "title": "RawEval API",
    "description": "\n# RawEval API Documentation\n\nWelcome to the **RawEval API** — A comprehensive LLM evaluation, expert vetting, and AI interview platform powered by AI Labs.\n\n---\n\n## 🚀 Features\n\n| Category | Capabilities |\n|----------|-------------|\n| **Multi-Model LLM Search** | Query GPT, Claude, Gemini, Llama, Grok simultaneously with streaming |\n| **N×N×N Workbench** | Expert-driven QA with configurable tiers (default 3×3×3, parallel annotation) |\n| **Conversation QC** | Semantic QC with SBERT, cross-encoder, NLI, community detection |\n| **Expert Vetting** | Tier assignment, WoE scoring, domain certifications |\n| **Failure Analysis** | 3-layer adjudication + structured rubric generation (FActScore-style atomic claims) |\n| **Admin Command Center** | Task status, pipeline overview, rubric viewer, annotation config, domain summary |\n| **Interview System** | Resume-specific questions, coding problems, rubric generation |\n| **Real-Time Interviews** | WebSocket-based with cheating detection, gaze tracking, prosody |\n| **Agent Engine** | Register, execute RL/LLM/hybrid agents in Docker sandbox |\n| **MCP Gateway** | Unified tool execution via Model Context Protocol |\n| **Payments & Wallet** | Razorpay, Wise, bank transfers, double-entry wallet system |\n| **B2B Data Ingestion** | Single & bulk prompt ingestion with API keys |\n\n---\n\n## 📋 API Organization — Consumer-Based\n\nThe API is organized by **frontend application** (consumer), not by technical domain.\nEach frontend app has its own namespace with dedicated routes that call a shared service layer.\n\n### 🗨️ Chat Platform — `/api/v1/chat/`\nEverything a **regular user** does from the chat frontend:\n- **Sessions** — Create, list, manage multi-turn LLM chat sessions\n- **Search** — Single and multi-model LLM queries with streaming\n- **Failure Reporting** — Mark conversations as failed, trigger 3-layer analysis\n- **Subscriptions** — Plans, usage, API keys\n- **Wallet** — Deposits, withdrawals, balance\n- **Payments** — Razorpay, bank accounts, payment methods\n- **Prompts** — View and track prompt history\n\n### 🔧 Workbench — `/api/v1/workbench/`\nEverything an **expert** does from the workbench:\n- **Annotations** — Batch creation, expert allocation, submissions (N×N×N)\n- **QC** — Inter-Annotator Agreement, semantic QC\n- **Conversation QC** — Model analysis, error marking, question management\n- **Interviews** — Expert vetting and onboarding\n- **Expert Profile** — Registration, tier management\n- **Wallet** — Expert payouts\n\n### 🏢 Organization Portal — `/api/v1/org/`\nEverything **organizations like OpenAI** do:\n- **Data Ingestion** — Single and bulk prompt ingestion\n- **Failed Prompts** — Browse and manage failed prompts\n\n### ⚙️ Admin Dashboard — `/api/v1/admin/`\n**All admin operations** under one roof:\n- **Conversations** — Failed conversation management with full visibility\n- **QC Config** — Versioned QC configurations\n- **Pipeline** — Status summary, pipeline overview, domain analytics\n- **Roles** — User role management (RBAC)\n- **Config** — Platform settings, subscription plan CRUD\n- **Wallet** — View any user's wallet\n- **Payments** — Payment tracking across users, prompts, batches\n- **Audit** — Complete audit trail\n\n### 🔗 Shared / Cross-Cutting\n- **Authentication** (`/api/v1/auth/`) — OAuth2 JWT with access + refresh tokens\n- **Users** (`/api/v1/users/`) — Profile management, metadata, domains\n- **User Context** (`/api/v1/user-context/`) — Roles, workflows, terms\n\n### 🛠️ Infrastructure\n- **Interview Engine** — Modular engine, orchestrator, V2 real-time video\n- **Agents** — RL/LLM/hybrid agents in Docker sandbox\n- **MCP** — Gateway + custom MCP servers\n- **Custom LLMs** — Upload, deploy, manage custom models\n- **Tools** — External tool connections\n\n---\n\n## 🔐 Authentication\n\nThe API uses **OAuth2-compliant JWT authentication** with access and refresh tokens.\n\n### Token Types\n| Token | Lifetime | Storage | Purpose |\n|-------|----------|---------|---------|\n| Access Token | 30 minutes | Client-side | API request authentication |\n| Refresh Token | 7 days | Database | Obtain new access tokens |\n\n### Token Flow\n```\n1. POST /api/v1/auth/login          → { access_token, refresh_token }\n2. GET  /api/v1/... (Bearer token)  → Protected endpoint access\n3. POST /api/v1/auth/refresh         → New access_token\n4. POST /api/v1/auth/logout          → Revoke refresh_token\n```\n\n### Header Format\n```\nAuthorization: Bearer <your-access-token>\n```\n\n### B2B API Key Authentication\nFor data ingestion and external API endpoints:\n```\nX-API-Key: <your-api-key>\n```\n\n---\n\n## 📊 Rate Limits\n\n| Tier | Limit |\n|------|-------|\n| Free | 100 requests/hour |\n| Pro | 1,000 requests/hour |\n| Pro Max | 10,000 requests/hour |\n\n---\n\n## 📦 Response Format\n\nAll responses follow a consistent format:\n\n### Success Response\n```json\n{\n  \"data\": { ... },\n  \"status\": \"success\"\n}\n```\n\n### Error Response\n```json\n{\n  \"status\": \"error\",\n  \"error\": {\n    \"code\": \"ERROR_CODE\",\n    \"message\": \"Human-readable message\",\n    \"type\": \"ExceptionType\"\n  },\n  \"timestamp\": \"2024-01-15T10:30:00Z\",\n  \"path\": \"/api/v1/...\"\n}\n```\n\n### HTTP Status Codes\n| Code | Description |\n|------|-------------|\n| `200` | Success |\n| `201` | Created |\n| `204` | No Content (successful deletion) |\n| `400` | Bad Request (invalid input) |\n| `401` | Unauthorized (invalid/missing token) |\n| `402` | Payment Required (API quota exceeded) |\n| `403` | Forbidden (insufficient permissions) |\n| `404` | Not Found |\n| `422` | Validation Error (request schema mismatch) |\n| `429` | Rate Limit Exceeded |\n| `500` | Internal Server Error |\n| `503` | Service Unavailable (database down) |\n| `504` | Gateway Timeout |\n\n---\n\n## 🌐 Base URLs\n\n| Environment | URL |\n|-------------|-----|\n| Production | `https://api.raweval.com` |\n| Production (ALB) | `https://raweval-alb-1123950706.ap-northeast-1.elb.amazonaws.com` |\n| Development | `http://localhost:8000` |\n\n---\n\n## 🛠️ Getting Started\n\n1. **Register** — `POST /api/v1/auth/register` with email, name, password\n2. **Login** — `POST /api/v1/auth/login` to get tokens\n3. **Explore** — Use the access token in all subsequent requests\n4. **Chat** — Try `POST /api/v1/chat/search/query` for your first LLM query\n5. **Profile** — Complete your profile for workbench and expert features\n6. **Interview** — Create a session via `POST /api/v1/workbench/interviews/sessions`\n\n---\n\n*RawEval API v1.0.0 — Built with FastAPI • Python 3.11+ • SQLAlchemy • JWT • S3*\n",
    "version": "1.0.0",
    "x-logo": {
      "url": "https://fastapi.tiangolo.com/img/logo-margin/logo-teal.png",
      "altText": "RawEval API Logo"
    },
    "contact": {
      "name": "RawEval Engineering Team",
      "email": "engineering@raweval.com",
      "url": "https://raweval.com"
    },
    "license": { "name": "Proprietary", "url": "https://raweval.com/license" },
    "termsOfService": "https://raweval.com/terms"
  },
  "servers": [
    {
      "url": "https://api.raweval.com",
      "description": "Production (Custom Domain)"
    },
    {
      "url": "https://raweval-alb-1123950706.ap-northeast-1.elb.amazonaws.com",
      "description": "Production (ALB DNS)"
    },
    { "url": "http://localhost:8000", "description": "Development server" }
  ],
  "paths": {
    "/api/v1/chat/sessions": {
      "post": {
        "tags": ["Chat — Sessions"],
        "summary": "Create a new chat session",
        "description": "Create a new chat session (equivalent to clicking **New Chat** in a GPT-like UI).\n\nReturns the session `id` which must be passed to all subsequent message and upload calls.\n\n**Workflow types:** `single_model` (default), `parallel_processing`, `chain_of_thought`, `tool_use`.\n\n**Auto-title:** If no `title` is provided, a title is auto-generated from the first user message.",
        "operationId": "create_session_api_v1_chat_sessions_post",
        "security": [{ "HTTPBearer": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/packages__api__api__v1__chat__sessions__CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChatSessionSummary" }
              }
            }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Chat — Sessions"],
        "summary": "List my chat sessions",
        "description": "Paginated list of all chat sessions for the authenticated user, newest first.\n\n**Filters:**\n- `status` — Filter by session status (`initialized`, `in_progress`, `success`, `failed`, `partial`)\n- `failed_only=true` — Only sessions marked as failed by the user\n\n**Pagination:** Use `page` and `page_size` query params. Response includes `total_pages`, `has_next`, `has_prev`.",
        "operationId": "list_sessions_api_v1_chat_sessions_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Results per page",
              "default": 20,
              "title": "Page Size"
            },
            "description": "Results per page"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Filter by status",
              "title": "Status"
            },
            "description": "Filter by status"
          },
          {
            "name": "failed_only",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "boolean" }, { "type": "null" }],
              "description": "True → only sessions marked as failed",
              "title": "Failed Only"
            },
            "description": "True → only sessions marked as failed"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of chat session summaries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSessionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat/sessions/{session_id}": {
      "get": {
        "tags": ["Chat — Sessions"],
        "summary": "Get session with full conversation history",
        "description": "Returns the full session including all messages and attachments.\n\n**Options:**\n- `include_messages=true` (default) — Include full message history\n- `include_attachments=true` (default) — Include file attachment metadata\n\nMessages are ordered chronologically. Each message includes `role`, `content`, `model`, `provider`, `tokens_used`, and `latency_ms`.",
        "operationId": "get_session_api_v1_chat_sessions__session_id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Session ID",
              "title": "Session Id"
            },
            "description": "Session ID"
          },
          {
            "name": "include_messages",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include message history",
              "default": true,
              "title": "Include Messages"
            },
            "description": "Include message history"
          },
          {
            "name": "include_attachments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include attachment list",
              "default": true,
              "title": "Include Attachments"
            },
            "description": "Include attachment list"
          }
        ],
        "responses": {
          "200": {
            "description": "Full session detail with messages and attachments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden** — You do not own this session",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_403",
                    "message": "You do not own this session"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "404": {
            "description": "**Not Found** — Chat session does not exist or is not accessible to you",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_404",
                    "message": "Chat session not found"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Chat — Sessions"],
        "summary": "Delete a chat session and all its data",
        "description": "Permanently delete a chat session along with all messages, attachments, and linked records.\n\n**Cascading delete:** messages → attachments → failed-prompt links are all removed.\nThis action is **irreversible**.",
        "operationId": "delete_session_api_v1_chat_sessions__session_id__delete",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "title": "Session Id" }
          }
        ],
        "responses": {
          "204": { "description": "Session deleted successfully" },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden** — You do not own this session",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_403",
                    "message": "You do not own this session"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "404": {
            "description": "**Not Found** — Chat session does not exist or is not accessible to you",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_404",
                    "message": "Chat session not found"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Chat — Sessions"],
        "summary": "Update session title, status, or failed flag",
        "description": "Partially update a chat session. All fields are optional — only provided fields are updated.\n\n**Updatable fields:**\n- `title` — Rename the session\n- `status` — Change status (`initialized`, `in_progress`, `success`, `failed`, `partial`)\n- `user_marked_failed` — Mark/unmark as failed\n- `error_message` — Set or clear the error message",
        "operationId": "update_session_api_v1_chat_sessions__session_id__patch",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "title": "Session Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/packages__api__api__v1__chat__sessions__UpdateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated session summary",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChatSessionSummary" }
              }
            }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden** — You do not own this session",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_403",
                    "message": "You do not own this session"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "404": {
            "description": "**Not Found** — Chat session does not exist or is not accessible to you",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_404",
                    "message": "Chat session not found"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat/sessions/{session_id}/messages": {
      "post": {
        "tags": ["Chat — Sessions"],
        "summary": "Send a message and get an LLM response",
        "description": "Send a user message to the LLM within a chat session and receive the model's response.\n\n**Multi-turn context:** Full conversation history is loaded automatically as context (disable with `include_history=false`).\n\n**Image support:** Reference previously uploaded images via `attachment_ids`. Vision-capable models (GPT-4o, Claude 3.5, Gemini) will receive the images.\n\n**Web search:** Set `web_search=true` to augment the prompt with real-time web results. Control how many results with `web_search_max_results` (default 5, max 10). If web search fails, the request continues without web context (graceful degradation).\n\n**Providers:** `openai`, `claude`, `gemini`, `grok`, `deepseek`, `openrouter`\n\n**Model parameters:** `temperature` (0-2), `max_tokens`, `top_p`, `frequency_penalty` (-2 to 2), `presence_penalty` (-2 to 2) — matching all `dynamic/execute` capabilities.\n\n**Subscription limits:** Usage is tracked. If you exceed your daily limit, the system will attempt auto-payment. If that fails, a 402 error is returned.\n\n**Response:** Both the user message and assistant message are returned with metadata including `tokens_used` and `latency_ms`.",
        "operationId": "send_message_api_v1_chat_sessions__session_id__messages_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Chat session ID",
              "title": "Session Id"
            },
            "description": "Chat session ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendMessageRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User and assistant messages with latency and token metadata",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SendMessageResponse" }
              }
            }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "402": {
            "description": "**Payment Required** — Subscription or quota limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_402",
                    "message": "Daily usage limit exceeded. Upgrade your subscription."
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden** — You do not own this session",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_403",
                    "message": "You do not own this session"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "404": {
            "description": "**Not Found** — Chat session does not exist or is not accessible to you",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_404",
                    "message": "Chat session not found"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "429": {
            "description": "**Rate Limited** — Too many concurrent requests to this model",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_429",
                    "message": "Rate limit exceeded. Please retry after the Retry-After period."
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat/sessions/{session_id}/upload": {
      "post": {
        "tags": ["Chat — Sessions"],
        "summary": "Upload a file / image for use in messages",
        "description": "Upload a file (PNG, JPEG, WEBP, GIF, PDF, CSV, TXT, …) to a chat session.\n\nReturns an `attachment_id` which you include in `attachment_ids` when calling `/messages`.\n\n**Storage:** Files are uploaded to S3 with server-side encryption.\n\n**Image support:** Images (PNG, JPEG, WEBP, GIF) are passed directly to vision-capable models (GPT-4o, Claude 3.5 Sonnet, Gemini 2.0 Flash).\n\n**Size limit:** Maximum file size is 20 MB.",
        "operationId": "upload_attachment_api_v1_chat_sessions__session_id__upload_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Chat session ID",
              "title": "Session Id"
            },
            "description": "Chat session ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_attachment_api_v1_chat_sessions__session_id__upload_post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadAttachmentResponse"
                }
              }
            }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "400": {
            "description": "**Bad Request** — File upload failed — empty file or unsupported format",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "File upload failed — empty file or unsupported format",
                    "type": "ValueError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden** — You do not own this session",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_403",
                    "message": "You do not own this session"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "404": {
            "description": "**Not Found** — Chat session does not exist or is not accessible to you",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_404",
                    "message": "Chat session not found"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat/sessions/{session_id}/mark-failed": {
      "post": {
        "tags": ["Chat — Sessions"],
        "summary": "Mark a conversation as failed",
        "description": "Mark this session as a failed conversation.\n\n**What happens:**\n1. Sets `user_marked_failed=true` on the LLMCallSession\n2. Creates a `FailedPrompt` record linked via `conversation_id`\n3. Session enters the failure analysis pipeline for 3-layer adjudication\n\n**Idempotent:** Calling again updates the existing `FailedPrompt` record.\n\n**Next step:** Use `POST /api/v1/chat/failure/mark-failed` for the full pipeline with configurable tier counts and automatic domain assignment.",
        "operationId": "mark_failed_api_v1_chat_sessions__session_id__mark_failed_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "title": "Session Id" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/packages__api__api__v1__chat__sessions__MarkFailedRequest"
                  }
                ],
                "default": { "failure_probability": 1.0 },
                "title": "Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated session summary with user_marked_failed=true",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChatSessionSummary" }
              }
            }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden** — You do not own this session",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_403",
                    "message": "You do not own this session"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "404": {
            "description": "**Not Found** — Chat session does not exist or is not accessible to you",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_404",
                    "message": "Chat session not found"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "409": {
            "description": "**Conflict** — Session is already marked as failed",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_409",
                    "message": "Session is already marked as failed"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat/providers": {
      "get": {
        "tags": ["Chat — Sessions"],
        "summary": "List available LLM providers",
        "description": "List all registered LLM providers that are available for chat.\n\nEach provider may support multiple models. Use the `/models` endpoint to get the full model list.",
        "operationId": "list_providers_api_v1_chat_providers_get",
        "responses": {
          "200": {
            "description": "List of available provider names and total count",
            "content": { "application/json": { "schema": {} } }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        },
        "security": [{ "HTTPBearer": [] }]
      }
    },
    "/api/v1/chat/models": {
      "get": {
        "tags": ["Chat — Sessions"],
        "summary": "List available models (optionally filter by provider)",
        "description": "List all available LLM models, grouped by provider.\n\n**Filter:** Pass `provider=openai` to get only OpenAI models.\n\n**Includes:** Model names, provider grouping, and total counts.",
        "operationId": "list_models_api_v1_chat_models_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Filter by provider name",
              "title": "Provider"
            },
            "description": "Filter by provider name"
          }
        ],
        "responses": {
          "200": {
            "description": "Models grouped by provider with total counts",
            "content": { "application/json": { "schema": {} } }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat/stats": {
      "get": {
        "tags": ["Chat — Sessions"],
        "summary": "My chat usage statistics",
        "description": "Get aggregated chat usage statistics for the authenticated user.\n\n**Includes:** Total sessions, active sessions, sessions marked as failed, total messages sent, and total attachments uploaded.",
        "operationId": "get_stats_api_v1_chat_stats_get",
        "responses": {
          "200": {
            "description": "Aggregated usage statistics for the current user",
            "content": { "application/json": { "schema": {} } }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        },
        "security": [{ "HTTPBearer": [] }]
      }
    },
    "/api/v1/chat/search/query": {
      "post": {
        "tags": ["Chat — Search"],
        "summary": "Single Model Search",
        "description": "Execute a query using **any** single LLM model with full parameter control.\n\n**Shorthands:** `gpt`, `claude`, `gemini`, `grok`, `llama`, `deepseek` (auto-resolve to provider + default model).\n\n**Explicit model:** Pass `provider=openai` + `model=gpt-4-turbo` for any model string.\n\n**Auto-detection:** Pass `model=gpt-4o` and the provider is auto-detected as `openai`.\n\n**Parameters:** `temperature`, `max_tokens`, `top_p`, `frequency_penalty`, `presence_penalty` — full parity with `dynamic/execute`.\n\n**Web search:** Set `web_search=true` to augment the prompt with real-time DuckDuckGo results.\n\n**System prompt:** Optional `system_prompt` is sent as a system message.\n\n**Pipeline:** The prompt is stored in the database and queued for evaluation. Background tasks create `PromptMetadata` and save model conversations to S3.\n\n**Rate limits:** Subject to subscription tier limits.",
        "operationId": "search_query_api_v1_chat_search_query_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleModelSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search completed successfully. Prompt stored and queued for evaluation.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PromptResponse" },
                "example": {
                  "id": 12345,
                  "query_text": "Explain quantum computing",
                  "original_response": "Quantum computing is a revolutionary computing paradigm...",
                  "status": "pending_evaluation",
                  "domain": "science"
                }
              }
            }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "402": {
            "description": "**Payment Required** — Subscription or quota limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_402",
                    "message": "Daily usage limit exceeded. Upgrade your subscription."
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "400": {
            "description": "**Bad Request** — Unsupported model / provider — see error detail for supported values",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Unsupported model / provider — see error detail for supported values",
                    "type": "ValueError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        },
        "security": [{ "HTTPBearer": [] }]
      }
    },
    "/api/v1/chat/search/multimodel": {
      "post": {
        "tags": ["Chat — Search"],
        "summary": "Multi-Model Search (user-selectable models)",
        "description": "Execute a query across **user-selected** LLM models in parallel.\n\n**Available models:** `gpt`, `claude`, `gemini`, `grok`, `llama`, `deepseek`\n\n**Select models:** Pass `models: [\"gpt\", \"claude\"]` to query only those two. Omit `models` to query ALL available models.\n\n**Parameters:** `temperature`, `max_tokens`, `system_prompt` — applied to every model.\n\n**Web search:** Set `web_search=true` to augment the prompt with real-time results.\n\n**Timeout:** Per-model timeout (5-120s, default 30s). If a model doesn't respond within this time, it will be marked as timed out but other models' results are returned.",
        "operationId": "search_multimodel_api_v1_chat_search_multimodel_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiModelSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Multi-model search completed. Responses from selected models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiModelSearchResponse"
                },
                "example": {
                  "prompt_id": 12345,
                  "results": {
                    "gpt": {
                      "model": "gpt",
                      "response": "Quantum computing is...",
                      "status": "completed",
                      "timestamp": "2024-01-15T10:30:45Z"
                    },
                    "claude": {
                      "model": "claude",
                      "response": "Quantum computing represents...",
                      "status": "completed",
                      "timestamp": "2024-01-15T10:30:47Z"
                    }
                  },
                  "total_models": 2,
                  "completed": 2,
                  "failed": 0
                }
              }
            }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "402": {
            "description": "**Payment Required** — Subscription or quota limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_402",
                    "message": "Daily usage limit exceeded. Upgrade your subscription."
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        },
        "security": [{ "HTTPBearer": [] }]
      }
    },
    "/api/v1/chat/search/multimodel/stream": {
      "get": {
        "tags": ["Chat — Search"],
        "summary": "Multi-Model Search Stream (SSE)",
        "description": "Stream results from user-selected (or all) models as they complete using **Server-Sent Events**.\n\n**Protocol:** `text/event-stream` — each event is a JSON object.\n\n**Event types:**\n- `data: {\"model\": \"gpt\", \"status\": \"completed\", \"response\": \"...\"}` — Model completed\n- `data: {\"model\": \"grok\", \"status\": \"error\", \"error\": \"timeout\"}` — Model failed\n- `data: {\"type\": \"complete\", \"prompt_id\": 123}` — All models finished\n\n**Select models:** Pass `models=gpt&models=claude` to stream only those two. Available: `gpt`, `claude`, `gemini`, `grok`, `llama`, `deepseek`. Omit to stream ALL.\n\n**Web search:** Set `web_search=true` to augment all models with real-time web results.\n\n**Timeout:** Each model has an independent timeout (default 30s, max 120s).",
        "operationId": "search_multimodel_stream_api_v1_chat_search_multimodel_stream_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "query_text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The search query or prompt",
              "title": "Query Text"
            },
            "description": "The search query or prompt"
          },
          {
            "name": "models",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "type": "array", "items": { "type": "string" } },
                { "type": "null" }
              ],
              "description": "Models to query (available: `gpt`, `claude`, `gemini`, `grok`, `llama`, `deepseek`)",
              "title": "Models"
            },
            "description": "Models to query (available: `gpt`, `claude`, `gemini`, `grok`, `llama`, `deepseek`)"
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Domain category",
              "title": "Domain"
            },
            "description": "Domain category"
          },
          {
            "name": "system_prompt",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "System prompt for all models",
              "title": "System Prompt"
            },
            "description": "System prompt for all models"
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 120,
              "minimum": 5,
              "description": "Per-model timeout in seconds",
              "default": 30,
              "title": "Timeout"
            },
            "description": "Per-model timeout in seconds"
          },
          {
            "name": "temperature",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 2.0,
              "minimum": 0.0,
              "description": "Sampling temperature",
              "default": 0.7,
              "title": "Temperature"
            },
            "description": "Sampling temperature"
          },
          {
            "name": "max_tokens",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Max tokens per model",
              "default": 2000,
              "title": "Max Tokens"
            },
            "description": "Max tokens per model"
          },
          {
            "name": "web_search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Enable web search context",
              "default": false,
              "title": "Web Search"
            },
            "description": "Enable web search context"
          },
          {
            "name": "web_search_max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10,
              "minimum": 1,
              "description": "Max web results",
              "default": 5,
              "title": "Web Search Max Results"
            },
            "description": "Max web results"
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream of per-model results",
            "content": {
              "application/json": { "schema": {} },
              "text/event-stream": {}
            }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "402": {
            "description": "**Payment Required** — Subscription or quota limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_402",
                    "message": "Daily usage limit exceeded. Upgrade your subscription."
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat/search/available-models": {
      "get": {
        "tags": ["Chat — Search"],
        "summary": "List available search models",
        "description": "Returns all model shorthands available for `/multimodel` and `/query` endpoints, along with the underlying provider and model name they map to.",
        "operationId": "list_available_models_api_v1_chat_search_available_models_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        },
        "security": [{ "HTTPBearer": [] }]
      }
    },
    "/api/v1/chat/failure/mark-failed": {
      "post": {
        "tags": ["Chat — Failure Reporting"],
        "summary": "Mark Conversation as Failed + Configure Annotation",
        "description": "Mark a conversation as failed and configure the annotation pipeline.\n\n**What happens:**\n1. Sets `user_marked_failed=true` on the LLMCallSession\n2. Creates/updates `FailedPromptFinal` with annotation config (tier counts, reviewer counts)\n3. Links to domain via FK\n4. Records status transitions: `marked_as_failed` → `analysis_pending`\n5. Triggers 3-layer analysis in background (behavioral → entropy → judges)\n6. Background analysis auto-generates structured rubric (FActScore-style)\n\n**Annotation model (PARALLEL):**\n- Default: 3 Tier 1 + 3 Tier 2 + 3 Tier 3 experts (configurable, 1–20 each)\n- ALL tiers work simultaneously — no sequential gating\n- Reviewer pre/post: default 0 (set >0 to enable review gates)\n\n**Status flow:**\n`marked_as_failed` → `analysis_pending` → `analysis_in_progress` → `analysis_complete` → `rubric_generated` → ... → `annotation_open` → ...\n\nResponse returns immediately. Use GET /analysis/{id} or GET /admin/failed-conversations/{id}/rubric to check results.",
        "operationId": "mark_conversation_failed_api_v1_chat_failure_mark_failed_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/packages__api__api__v1__chat__failure__MarkFailedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Confirmation with annotation config, domain, and current status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MarkFailedResponse" }
              }
            }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "400": {
            "description": "**Bad Request** — Invalid domain — use GET /api/v1/workbench/domains for valid values",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Invalid domain — use GET /api/v1/workbench/domains for valid values",
                    "type": "ValueError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden** — You do not own this conversation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_403",
                    "message": "You do not own this conversation"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "404": {
            "description": "**Not Found** — Conversation (LLMCallSession) does not exist or is not accessible to you",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_404",
                    "message": "Conversation (LLMCallSession) not found"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        },
        "security": [{ "HTTPBearer": [] }]
      }
    },
    "/api/v1/chat/failure/analyze/{conversation_id}": {
      "post": {
        "tags": ["Chat — Failure Reporting"],
        "summary": "Analyze Failed Conversation (3-Layer Architecture)",
        "description": "Full 3-Layer Failure Adjudication:\n    \n    **Layer 0**: Computes 7 behavioral signals (hallucination, miscalibration, intent gap, emotion, breakdown, silence, expectation gap)\n    \n    **Layer 1**: Generates N independent completions, clusters by semantic similarity, computes Shannon entropy (Signal 8)\n    \n    **Layer 2+3**: Runs 3 independent evidence-aware LLM judges with structured rubric, majority votes (Signal 9)\n    \n    **Decision**: Uses logistic regression P(F=1) = σ(β^T S) over all 9 signals with robust multi-step logic.\n    \n    **Attribution**: If FAIL, determines root cause (model hallucination, ambiguous prompt, adversarial, etc.)\n    \n    **Output**: Writes to FailedPrompt, FailedPromptFalsePositive, or NeedsHumanReview.",
        "operationId": "analyze_conversation_api_v1_chat_failure_analyze__conversation_id__post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "LLMCallSession ID to analyze",
              "title": "Conversation Id"
            },
            "description": "LLMCallSession ID to analyze"
          }
        ],
        "responses": {
          "200": {
            "description": "Full 3-layer analysis result with decision path and signal scores",
            "content": { "application/json": { "schema": {} } }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "DATABASE_UNAVAILABLE",
                    "message": "Database is temporarily unavailable. Please try again later.",
                    "type": "OperationalError"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "404": {
            "description": "**Not Found** — Conversation (LLMCallSession) does not exist or is not accessible to you",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_404",
                    "message": "Conversation (LLMCallSession) not found"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat/failure/analyze-all": {
      "post": {
        "tags": ["Chat — Failure Reporting"],
        "summary": "Analyze All Failed Conversations",
        "description": "Batch 3-layer analysis of all conversations where `user_marked_failed=true`.\n\n**Limit:** Optional `limit` param (1–1000) to cap the batch size.\n\nReturns a summary of processed conversations with their individual results.",
        "operationId": "analyze_all_failed_conversations_api_v1_chat_failure_analyze_all_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "type": "integer", "maximum": 1000, "exclusiveMinimum": 0 },
                { "type": "null" }
              ],
              "description": "Max conversations",
              "title": "Limit"
            },
            "description": "Max conversations"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch analysis summary with per-conversation results",
            "content": { "application/json": { "schema": {} } }
          },
          "401": {
            "description": "**Unauthorized** — Not authenticated — provide a valid Bearer token",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "HTTP_401",
                    "message": "Not authenticated"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "422": {
            "description": "**Validation Error** — Request body failed schema validation",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "details": [
                      {
                        "loc": ["body", "field_name"],
                        "msg": "field required",
                        "type": "value_error.missing"
                      }
                    ]
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "500": {
            "description": "**Internal Server Error** — An unexpected server error occurred",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "An internal server error occurred. Please check logs for details.",
                    "type": "Exception"
                  },
                  "timestamp": "2026-03-01T12:00:00Z",
                  "path": "/api/v1/..."
                }
              }
            }
          },
          "503": {
            "description": "**Service Unavailable** — Database or downstream service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error": {
[...]
